:root {
  --c-dark: #000;
  --c-light: #fffae8;
  --c-primary: #ffd324;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--c-light);
  background: var(--c-dark);

  line-height: 1.6;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
